/* theme.css */
 #grid, #buttons {
     justify-content: center;
     display: flex;
     overflow-x: auto;
}
 rect.cell {
     stroke: gray;
     stroke-width: 0.3px;
}
 fieldset {
     margin: 0;
}
 #population {
     margin-left: 2em;
}
 input {
     padding: unset;
     border-width: unset;
     border-style: unset;
}
 #title {
     margin-top: 0;
}